.headerContainer {
	width: 100%;
	height: 120px;
}

.nylogo {
	position: relative;
	top: 11px;
	left: -80px;
	max-width: 160px;
	overflow: hidden;
	margin: auto;
}

.votelogo {
	position: relative;
	top: -95px;
	left: 80px;
	max-width: 100px;
	overflow: hidden;
	margin: auto;
}

.voteContainer {
	position: relative;
	text-align: center;
	width: 100%;
	height: 300px;
	background-color: #4287f5;
}

.link1 {
	position: absolute;
        top: 49%;
        left: 50%;
	transform: translate(-49%, -50%);
	font-family: 'Staatliches', cursive;
}

.text1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
	color: gray;
	font-size: 18px;
}

.text2 {
	text-align: center;
	font-family: 'Staatliches', cursive;
	color: gray;
	font-size: 18px;
}
