body {
	padding-left: 25px;
	padding-right: 25px;
}

.header .photo {
	float: left;
	width: 1px;
	height: 1px;
}

.header .title {
        text-align: center;	
	font-family: 'Staatliches', cursive;
}

.name {
	font-family: 'Staatliches', cursive;
}

.ballot {
	text-align: left;
	font-family: 'Staatliches', cursive;
}

.damnJoe {
	position: relative;
	left: 15px;
}

.statpa {
	position: relative;
	left: 6px;
}

.statpb {
	position: relative;
	left: 3px;
}

.vpa {
	position: relative;
	left: 165px;
}

.vpb {
	position: relative;
	left: 150px;
}

.statvpa {
	position: relative;
	left: 83px;
}

.statvpb {
	position: relative;
	left: 75px;
}

.damnDonald {
	position: relative;
	left: 10px;
}

.footer {
	font-family: 'Staatliches', cursive;
	size: 10px;
	color: gray;
	text-align: center;
}
